@model List<Item>

@if (Model.Count == 0)
{
    <p>Vazio</p>
}
else
{

    <div>
        <table class="table table-hover">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Produto.IdProduto</td>
                    <td>@item.Produto.Nome</td>
                    <td>@item.Produto.Descricao</td>
                    <td>@item.Produto.Valor</td>
                    <td>@item.Quantidade</td>
                    <td>@item.ValorTotal</td>
                    @* <td>@i.ValorTotal</td> *@
                    <td>
                        <a class="btn btn-sm btn-danger" href="/produto/delete">Apagar</a>
                        <a class="btn btn-sm btn-warning" href="/produto/update">Editar</a>
                        @if (item.Quantidade == 1)
                        {
                            <a class="btn btn-sm btn-info" href="/carrinho/comprar">Comprar</a>

                        }
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="">

        <a class="btn btn-sm btn-info" href="/produto/index">Continuar Comprando</a>
        <a class="btn btn-sm btn-primary" href="/home/index">Finalizar Compra</a>


    </div>
}
