@model List<Item>

@if (Model.Count == 0)
{
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Carrinho</h5>
                    </div>
                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png"
                            width="130" height="130" class="img-fluid mb-4 mr-3">
                            <h3><strong>Seu Carrinho Está Vázio</strong></h3>
                            <h4>Peça algo agora :)</h4> <a href="/produto/index"
                            class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continuar Comprando</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Carrinho</h5>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Produto.IdProduto</td>
                                    <td>@item.Produto.Nome</td>
                                    <td>@item.Produto.Descricao</td>
                                    <td>@item.Produto.Valor</td>
                                    <td>@item.Quantidade</td>
                                    <td>@item.ValorTotal</td>
                                    <td>
                                        <a class="btn btn-sm btn-danger" href="/carrinho/remover/@item.Produto.IdProduto" onclick="removidoBox()">Remover
                                            do Carrinho</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <a href="/produto/index" class="btn btn-info cart-btn-transform mt-2 float-right m-2"
                data-abc="true">Continuar
                    Comprando</a>
                <a class="btn btn-primary cart-btn-transform mt-2 float-right" asp-area="" asp-controller="Carrinho" asp-action="Finalizar"
                data-abc="true">Finalizar Compra</a>
            </div>
        </div>
    </div>

    <script>
        function removidoBox() {
            alert("Item Removido Com Sucesso!");
        }
    </script>
}